@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 145 63% 22%; /* Dark Green */
    --primary-foreground: 210 40% 98%;

    --secondary: 173 58% 39%; /* #2A9D8F */
    --secondary-foreground: 210 40% 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 15 78% 61%; /* #E76F51 */
    --accent-foreground: 210 40% 98%;

    --destructive: 15 78% 61%; /* #E76F51 */
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 145 63% 22%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 7.1%; /* #121212 */
    --foreground: 210 40% 98%;

    --card: 0 0% 11.8%; /* #1E1E1E */
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 11.8%; /* #1E1E1E */
    --popover-foreground: 210 40% 98%;

    --primary: 145 63% 22%; /* Dark Green */
    --primary-foreground: 210 40% 98%;

    --secondary: 43 74% 66%; /* #E9C46A */
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 0 0% 11.8%; /* #1E1E1E */
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 173 58% 39%; /* #2A9D8F */
    --accent-foreground: 210 40% 98%;

    --destructive: 15 78% 61%; /* #E76F51 */
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 11.8%; /* #1E1E1E */
    --input: 0 0% 11.8%; /* #1E1E1E */
    --ring: 145 63% 22%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-muted text-foreground;
  }
}
